<div class="weather">
  <div class="weather-header">
    <p class="weather-header__title">
      {{ cityControl.value?.name ? cityControl.value.name : "Select the city" }}
    </p>

    <mat-form-field>
      <mat-label>City</mat-label>
      <input
        type="text"
        placeholder="Pick one"
        aria-label="City"
        matInput
        [formControl]="cityControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="displayFn"
        (optionSelected)="selectedCity$.next($event.option.value)"
      >
        <mat-option *ngFor="let city of cities$ | async" [value]="city">
          {{ city.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div *ngIf="weather$ | async as weather" class="weather-content">
    <div class="weather-content__header">
      <p class="weather-content__data">
        <fa-icon [icon]="icons.faMagnifyingGlassLocation"></fa-icon>
        {{ weather.weather[0].main }}
      </p>
      <p class="weather-content__data">
        <fa-icon [icon]="icons.faInfo"></fa-icon>
        {{ weather.weather[0].description }}
      </p>
    </div>
    <div class="weather-content__details">
      <p class="weather-content__data weather-content__data--temp">
        <fa-icon [icon]="icons.faThermometerEmpty"></fa-icon>
        {{ weather.main.temp }}
      </p>
      <p class="weather-content__data weather-content__data--pressure">
        <fa-icon [icon]="icons.faArrowDown91"></fa-icon>
        {{ weather.main.pressure }}
      </p>
      <p class="weather-content__data weather-content__data--humidity">
        <fa-icon [icon]="icons.faWater"></fa-icon> {{ weather.main.humidity }}
      </p>
      <p class="weather-content__data weather-content__data--temp-range">
        <fa-icon [icon]="icons.faThermometerHalf"></fa-icon>
        {{ weather.main.temp_min }} -
        {{ weather.main.temp_max }}
      </p>
      <p class="weather-content__data weather-content__data--wind-speed">
        <fa-icon [icon]="icons.faWind"></fa-icon> {{ weather.wind.speed }}
      </p>
      <p class="weather-content__data weather-content__data--wind-deg">
        <fa-icon [icon]="icons.faThermometerHalf"></fa-icon>
        {{ weather.wind.deg }}
      </p>
      <p class="weather-content__data weather-content__data--clouds">
        <fa-icon [icon]="icons.faCloud"></fa-icon> {{ weather.clouds.all }}
      </p>
      <p class="weather-content__data weather-content__data--sunrise">
        <fa-icon [icon]="icons.faSun"></fa-icon>
        {{ weather.sys.sunrise | date : "d/M/yy, h:mm a" }}
      </p>
      <p class="weather-content__data weather-content__data--sunset">
        <fa-icon [icon]="icons.faSun"></fa-icon>
        {{ weather.sys.sunset | date : "d/M/yy, h:mm a" }}
      </p>
    </div>
    <div class="weather-content__map">
      <google-map
        width="100%"
        height="100%"
        [options]="{
          center: {
            lat: weather.coord.lat,
            lng: weather.coord.lon
          },
          zoom: 14
        }"
      >
        <map-marker
          [position]="{
            lat: weather.coord.lat,
            lng: weather.coord.lon
          }"
        ></map-marker>
      </google-map>
    </div>
  </div>
</div>
